    <div class="row mt-6" style="margin-top:65px;">
        <div class="col-md-6 m-auto">
          <div class="card card-body text-center">
            <div style="display: flex; justify-content: center; align-items: center;">
          </div>
            <!-- <p>Create an account or login</p> -->
            <br><br>
            <a href="/user/login" class="btn btn-primary btn-block mb-2"
              >User</a
            >
            <a href="/admin/login" class="btn btn-secondary btn-block">Admin</a>
      
          </div>
        </div>
      </div>
    